absl-py==1.3.0
altair==4.2.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
bert-tokenizer==0.1.5
bkcharts==0.2
blinker==1.5
boto3==1.25.0
botocore==1.28.0
branca==0.5.0
brotlipy==0.7.0
cachetools==5.2.0
commonmark==0.9.1
comtypes==1.1.10
constantly==15.1.0
cssselect==1.1.0
daal4py==2021.6.0
et-xmlfile==1.1.0
fastapi==0.88.0
flatbuffers==22.9.24
folium==0.12.1.post1
fonttools==4.25.0
gast==0.4.0
gensim==4.2.0
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.49.1
h11==0.14.0
haversine==2.7.0
huggingface-hub==0.10.1
hyperopt==0.2.7
imbalanced-learn==0.10.0
inflection==0.5.1
jmespath==1.0.1
joblib==1.2.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kmodes==0.12.2
libclang==14.0.6
lightgbm==3.3.3
llvmlite==0.39.1
mccabe==0.6.1
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
oauthlib==3.2.2
opencv-contrib-python==4.5.1.48
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.3.0
plotly==5.10.0
plotly-express==0.4.1
protobuf==3.19.6
py4j==0.10.9.7
pyarrow==10.0.1
pyasn1-modules==0.2.8
pycurl==7.45.1
pydantic==1.10.4
pydeck==0.8.0
PyDispatcher==2.0.5
pyls-spyder==0.4.0
Pympler==1.0.1
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytorch-nlp==0.5.0
pytorch-pretrained-bert==0.6.2
pytz-deprecation-shim==0.1.0.post0
pywin32==305.1
PyYAML==6.0
queuelib==1.5.0
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.9
scikit-learn==1.1.2
scikit-learn-intelex==2021.20221004.171935
scikit-plot==0.3.7
scipy==1.9.3
semver==2.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
shap==0.41.0
sip==4.19.13
slicer==0.0.7
smart-open==6.2.0
smmap==5.0.0
starlette==0.22.0
statsmodels==0.13.2
streamlit==1.12.0
tables==3.6.1
TBB==0.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-text==2.10.0
termcolor==2.0.1
tokenizers==0.13.1
torch==1.12.1
torchvision==0.13.1
transformers==4.24.0
tzdata==2022.7
tzlocal==4.2
uvicorn==0.20.0
validators==0.20.0
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.2.2
xgboost==1.7.1
yellowbrick==1.5
zeugma==0.49
zict==2.1.0
